@black: #000000;
@icon-hover: #63D1BB;
.main-nav {
  position: relative;
}

.main-nav__toggle {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: -10px;
  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 20px;
    top: -40px;
    right: 32px;
    background-image: url("../img/menu-close.svg");
    cursor: pointer;
  }
}

.main-nav__wrapper {
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
}

.main-nav__item {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 1px solid #ECECEC;
    height: 1px;
    width: 100vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}


.main-nav__link {
  display: block;
  padding: 31px 0 29px 11px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: @black;
  position: relative;
  text-align: left;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link-icon-search {
  position: absolute;
  top: 30px;
  left: -25px;

  &:hover,
  &:focus {
    fill: @icon-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link-icon__cart {
  position: absolute;
  top: 30px;
  left: -27px;

  &:hover,
  &:focus {
    fill: @icon-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle::before {
    display: none;
  }

  .main-nav__wrapper {

  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    padding-left: 49px;
    padding-right: 36%;
  }

  .main-nav__item {
    margin-right: 37px;
  }

  .main-nav__item::after {
    display: none;
  }

  .main-nav__link {
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__item--cart {
    position: absolute;
    top: -75px;
    right: 33px;
  }

  .main-nav__search-text {
    display: none;
  }

  .main-nav__item--search {
    position: absolute;
    top: -73px;
    left: 50%;
  }

}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .main-nav__link {

  }

  .main-nav__item--search {
    position: absolute;
    top: -3px;
    left: 70%;
  }

  .main-nav__item--cart {
    position: absolute;
    top: 0;
    right: 33px;
  }
}

