.main-contacts {
  margin-top: 90px;
}

.main-contacts__wrapper {
  padding: 0 30px;
}

.main-contacts__heading {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.main-contacts__wrapper-link {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.main-contacts__description {
  width: 76px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.main-contacts__description:nth-child(2) {
  padding-top: 30px;
}

.main-contacts__link {
  width: 183px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration: none;
  color: #000000;
  padding-top: 15px;
  font-size: 14px;
}

.main-contacts__address {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding-left: 30px;
  padding-top: 10px;
}

.main-contacts__map {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 55px;
}

.main-contacts__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #444444;
  color: #444444;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 50px 9px 49px;
}
