.main-goods {
  margin-bottom: 70px;
}

.main-goods__heading {
  padding: 0;
  margin: 0 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 5px;
  text-align: left;
}

.main-goods__best {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: #63D1BB;
  text-transform: uppercase;
  text-align: left;
  margin: 0 30px 17px;
}

.main-goods__description {
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  margin: 0 30px 20px;
}

.main-goods__wrapper-table {
  margin: 0 30px 10px;
}

.main-goods__table {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 18px;
  width: 100%;
}

.main-goods__table-row {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.main-goods__table-box {
  padding-top: 7px;
  padding-bottom: 12px;

  &--params {
    width: 30%;
  }
}

.main-goods__wrapper-image {
  margin: 0 30px;
}

.main-goods__image {
  width: 100%;
}

.main-goods__price {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin: 16px 0 0;
}

.main-goods__button {
  display: block;
  text-decoration: none;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #444444;
  border: 3px solid #444444;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 11px;
  text-transform: uppercase;
  margin: 24px 30px 0;

  &:hover,
  &:focus {
    background-color: #444444;
    color: white;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .main-goods {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      background-image: url("../img/zigzag-line-tablet.svg");
      width: 768px;
      height: 17px;
    }
  }

  .main-goods__wrapper-heading {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .main-goods__heading {
    margin: 0 40px;
    font-size: 43px;
  }

  .main-goods__best {
    width: 100px;
    text-align: center;
  }

  .main-goods__wrapper-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-goods__wrapper-table {
    margin: 0 40px 10px;
  }

  .main-goods__description {
    width: 292px;
    margin: 0 40px 20px;
  }

  .main-goods__table {

  }

  .main-goods__wrapper-image {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .main-goods__image {
    max-width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-goods__wrapper-tablet {
    padding-left: 0;
    width: 1050px;
    margin: 0 auto;
  }

  .main-goods {
    z-index: 10;
    width: 1050px;
    margin: 0 auto;
    &::after {
      width: 1050px;
      height: 24px;
      background-repeat: repeat-x;
      left: 50px;
    }
  }

  .main-goods__wrapper-heading {
    display: flex;
    justify-content: flex-start;
    padding-top: 66px;
  }

  .main-goods__heading {
    margin: 0 50px;
    font-size: 53px;
    order: 2

  }

  .main-goods__best {
    order: 1;
  }

  .main-goods__wrapper-table {
    margin: 0;
  }

  .main-goods__description {
    width: 260px;
    margin: 0;
  }
}
